<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
</head>
<body style="font-family: system-ui, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
<table align="center"
       width="100%"
       border="0"
       cellspacing="0"
       cellpadding="0"
       style="max-width: 600px; margin: 20px auto; background-color: #09090b; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
  <tr>
    <td align="center">
      <img src="https://jkysgpzxpyfddjsatjzh.supabase.co/storage/v1/object/sign/logo/logo-white.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJsb2dvL2xvZ28td2hpdGUucG5nIiwiaWF0IjoxNzMxMjY5Njc4LCJleHAiOjE3NjI4MDU2Nzh9.qb8pQjdmsKlgu-ywQs1YR97x6SXiY8EgWpMr0wGN6IM&t=2024-11-10T20%3A14%3A38.469Z"
           alt="Scarpio logo"
           style="width: 200px;">
    </td>
  </tr>
  <tr>
    <td style="padding: 20px; color: #f4f4f5; max-width: 500px;">
      <p style="margin: 0; font-size: 16px; line-height: 1.5;">
        Thanks for registering for our pre-launch! We're thrilled to have you
        with us. ❤️🎉
      </p>
      <br />
      <p style="margin: 10px 0 0; font-size: 16px; line-height: 1.5;">
        We'll keep you updated and send an email as soon as we launch our
        product. Stay tuned! ✨
      </p>
      <br />
      <p style="margin: 10px 0 0; font-size: 16px; line-height: 1.5;">
        If you have any further questions or feedback, contact us at
        <a href="mailto:scarpio.info@gmail.com"
           style="color: #1e90ff;">scarpio.info@gmail.com</a>. 💌
      </p>
    </td>
  </tr>
  <tr>
    <td align="center"
        style="padding-top: 20px;">
      <a href="https://www.your-main-app.com"
         style="text-decoration: none;">
        <button style="background-color: #1e90ff; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 16px;">
          Go to Main App 🌐
        </button>
      </a>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; font-size: 12px; color: #666666; margin-top: 20px; padding-top: 20px;">
      <p style="margin: 0;">&copy; 2024 Scarpio. All rights reserved.</p>
    </td>
  </tr>
</table>
</body>
</html>
